.vision-card {
    position: relative;
    padding: 32px 56px;

    border: 1px solid $success;
    border-radius: 1rem;

    color: $success;
    transition: all 0.5s ease-in-out;

    &.primary {
        border-color: $primary;

        &:hover {
            background:
                url("../images/arrows/left/5.svg") no-repeat center left 50px / contain,
                linear-gradient(180deg, #3c80b0 -0.99%, #165578 95.36%);
        }
    }

    &:hover {
        background:
            url("../images/arrows/left/5.svg") no-repeat center left 50px / contain,
            linear-gradient(0deg, #386732 6.54%, #467836 24.54%, #5d933c 56.54%, #6ba440 84.54%, #70aa42 106.54%);
        color: $white;
        border-color: transparent;

        transition: all 0.5s ease-in-out;
        animation: liAnimate 0.5s;

        @keyframes liAnimate {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        * {
            color: $white !important;
        }

        img {
            @extend .white-img;
        }

        .arrow {
            animation: arrowAnimation 1s ease-in-out;

            @keyframes arrowAnimation {
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(-50px);
                }

                to {
                    transform: translateX(0);
                }
            }
        }

        &.span-2 {
            background:
                url("../images/arrows/left/5.svg") no-repeat center left 30px / contain,
                linear-gradient(0deg, #386732 6.54%, #467836 24.54%, #5d933c 56.54%, #6ba440 84.54%, #70aa42 106.54%);
        }

        &.arrow-reverse {
            background:
                url("../images/arrows/right/1.svg") no-repeat center left -20px / 70px,
                linear-gradient(0deg, #386732 6.54%, #467836 24.54%, #5d933c 56.54%, #6ba440 84.54%, #70aa42 106.54%);
        }
    }

    .title {
        color: #636467;
    }

    .description {
        color: #6d6e71;
        max-width: 75%;
    }

    .grid-icon {
        grid-template-rows: 1.5rem auto;
    }
}

.board-card {
    width: fit-content;
    text-align: center;
    filter: drop-shadow(0 2px 4px rgba($black, 0.2));

    header {
        border-radius: 8px;
        border-start-start-radius: 0;
        border-start-end-radius: 0;

        position: relative;
        z-index: 10;
        padding-block: 0.44rem;
        margin-bottom: -1rem;
    }

    .body {
        background-color: $white;
        filter: drop-shadow(0 8px 16px rgba($black, 0.5));
        border-radius: 1rem;
        padding-top: 2rem;
        overflow: hidden;
    }

    .progress-lines {
        gap: 4px;

        div {
            height: 1px;
        }
    }
}

.counter-card {
    @extend .flex-center;
    flex-direction: column;

    border: 2px solid $info;
    border-radius: 0.94rem;

    position: relative;
    background:
        url("../images/arrows/right/2.svg") no-repeat center left / contain,
        rgba($white, 0.9);

    width: 195px;
    height: 145px;

    h5 {
        font-size: 1.3rem;
        text-align: center;
    }
}
