@keyframes cardArrowAnimate {
    from {
        transform: translate(-100px);
    }

    to {
        transform: translate(0);
    }
}

.vision-card {
    position: relative;
    padding: 32px 56px;

    border: 2px solid $success;
    border-radius: 1rem;

    color: $success;
    transition: all 0.5s ease-in-out;

    @media (max-width: 1199px) {
        padding: 1rem;
    }

    &.primary {
        border-color: $primary;

        &:hover {
            background:
                url("../images/arrows/left/5.svg") no-repeat center left 50px / contain,
                linear-gradient(180deg, #3c80b0 -0.99%, #165578 95.36%);
        }
    }

    &.no-arrow {
        &:hover {
            background: linear-gradient(
                0deg,
                #386732 6.54%,
                #467836 24.54%,
                #5d933c 56.54%,
                #6ba440 84.54%,
                #70aa42 106.54%
            );
        }
    }

    &:hover {
        background:
            url("../images/arrows/left/5.svg") no-repeat center left 50px / contain,
            linear-gradient(0deg, #386732 6.54%, #467836 24.54%, #5d933c 56.54%, #6ba440 84.54%, #70aa42 106.54%);
        color: $white;

        transition: all 0.5s ease-in-out;
        animation: liAnimate 0.5s;

        @keyframes liAnimate {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        * {
            color: $white !important;
        }

        img:not(.no-filter) {
            filter: brightness(0) invert(1) !important;
        }

        .arrow {
            animation: arrowAnimation 1s ease-in-out;

            @keyframes arrowAnimation {
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(-50px);
                }

                to {
                    transform: translateX(0);
                }
            }
        }

        &.span-2 {
            background:
                url("../images/arrows/left/5.svg") no-repeat center left 30px / contain,
                linear-gradient(0deg, #386732 6.54%, #467836 24.54%, #5d933c 56.54%, #6ba440 84.54%, #70aa42 106.54%);
        }

        &.arrow-reverse {
            background:
                url("../images/arrows/right/1.svg") no-repeat center left -20px / 70px,
                linear-gradient(0deg, #386732 6.54%, #467836 24.54%, #5d933c 56.54%, #6ba440 84.54%, #70aa42 106.54%);

            &.primary {
                background:
                    url("../images/arrows/right/5.svg") no-repeat center left -20px / 70px,
                    linear-gradient(180deg, #3c80b0 -0.99%, #165578 95.36%);
            }
        }
    }

    .title {
        color: #636467;
    }

    .description {
        color: $gray-500;

        @media (min-width: 1200px) {
            max-width: 75%;
        }
    }

    h3 {
        @media (max-width: 1199px) {
            font-size: 1.38rem;
        }
    }

    h6.f-18 {
        @media (max-width: 1199px) {
            font-size: 0.9rem !important;
        }
    }

    .grid-icon {
        grid-template-rows: 1.5rem auto;
    }

    img {
        &[src*="../assets/images/icons"],
        &[src*="../assets/images/medals"] {
            @media (max-width: 1199px) {
                width: 40px !important;
            }
        }
    }
}

.board-card {
    width: fit-content;
    text-align: center;
    filter: drop-shadow(0 2px 4px rgba($black, 0.2));

    header {
        border-radius: 8px;
        border-start-start-radius: 0;
        border-start-end-radius: 0;

        position: relative;
        z-index: 10;
        padding-block: 0.44rem;
        margin-bottom: -1rem;
        text-align: start;

        span {
            font-weight: 700;

            &:first-of-type {
                margin-inline-start: 1rem;
                font-size: 1.13rem;
            }

            &:last-of-type {
                font-size: 1.38rem;
            }
        }
    }

    .body {
        background-color: $white;
        filter: drop-shadow(0 8px 16px rgba($black, 0.5));
        border-radius: 1rem;
        padding-top: 2rem;
        overflow: hidden;
        text-align: start;

        .title {
            font-size: 1.13rem;
            font-weight: 600;
            margin-inline: 1rem;
            color: $success;
        }

        .role {
            font-size: 1.13rem;
            color: $gray-500;
            margin-inline: 1rem;
        }
    }

    .progress-lines {
        gap: 4px;

        div {
            height: 1px;
        }
    }
}

.counter-card {
    @extend .flex-center;
    flex-direction: column;

    border: 2px solid $success;
    border-radius: 0.94rem;

    position: relative;
    background:
        url("../images/arrows/right/2.svg") no-repeat center left / contain,
        rgba($white, 0.9);

    width: 195px;
    height: 145px;

    :first-child {
        @media (max-width: 1199px) {
            font-size: 2.5rem !important;
        }
    }

    :last-child {
        font-size: 1.3rem;
        text-align: center;

        @media (max-width: 1199px) {
            font-size: 0.81rem;
        }
    }
}

.award-card {
    position: relative;
    border: 1px solid #9d9ea0;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;

    &::after {
        content: url("../images/arrows/left/8.svg");
        position: absolute;
        top: 0;
        inset-inline-start: 0;
    }

    &:hover {
        &::after {
            @extend .white-img;
        }

        * {
            transition: all 0.5s ease-in-out;
        }

        .body {
            &::after {
                transform: scaleY(1);
                transform-origin: bottom;
                transition: transform 0.5s ease-in-out;
            }

            img {
                @extend .white-img;
            }

            * {
                color: $white;
                opacity: 1 !important;
            }
        }
    }

    header {
        padding-bottom: 4px;
        padding-inline-end: 2rem;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }

    .body {
        position: relative;

        &::after {
            @extend .btn-gradient;
            transform: scaleY(0);

            content: "";
            position: absolute;
            top: 0;
            z-index: -1;

            width: 100%;
            height: 100%;

            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }
    }
}

.iso-card {
    position: relative;

    &::after {
        content: url("../images/arrows/right/4.svg");
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        inset-inline-end: 0;
    }

    &:hover {
        &::after {
            animation: arrowAnimate 0.5s ease-in-out;
        }

        @keyframes arrowAnimate {
            from {
                inset-inline-end: 100px;
            }

            to {
                inset-inline-end: 0;
            }
        }
    }
}
