/************** general **************/
.about-navbar {
    position: relative;
    padding-block: 14px 24px;
    overflow: hidden;

    background-color: $white;
    box-shadow: 0 5px 5px 0 rgba($black, 0.07);

    &.sticky {
        position: fixed;
        inset: 61px 0 auto;
        z-index: 25;

        border-top: 1px solid #ddd;
        padding-block: 12px;

        transition: all 0.3s ease-in-out;
        animation: progressAnimation 0.3s;

        @media (min-width: 1200px) and (max-width: 1450px) {
            inset: 53px 0 auto;
        }

        ul {
            transform: translateX(100px);
            animation: ulAnimation 1s both;
        }
    }

    @keyframes progressAnimation {
        0% {
            top: -100%;
        }

        100% {
            top: 0;
        }
    }

    @keyframes ulAnimation {
        0% {
            transform: translateX(100px);
        }

        50% {
            transform: translateX(-100px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .nav-item {
        .nav-link {
            background-color: #e8e6e6;
            color: #8a8b8d;

            font-size: 24px;
            font-weight: 600;
            text-align: center;

            @media (min-width: 1200px) and (max-width: 1450px) {
                padding-block: 0.25rem;
            }

            &:not(.active) {
                border: 1px solid transparent;
            }

            &.active {
                @extend .btn-gradient;
            }

            &:not(.active):hover {
                border: 1px solid $success;
                color: $black;

                &.primary {
                    border: 1px solid $primary;
                }
            }
        }

        &:first-of-type {
            .nav-link {
                border-start-start-radius: 0;
                border-end-start-radius: 0;
            }
        }

        &:last-of-type {
            .nav-link {
                border-start-end-radius: 0;
                border-end-end-radius: 0;
            }
        }
    }

    .progress {
        position: absolute;
        inset-inline-start: 0;
        bottom: 0;

        width: 0;
        height: 4px;

        background-color: $success;
        transition: width 0.1s ease-in-out;

        &.primary {
            background-color: $primary;
        }
    }
}

// vertical lines
.aos-animate {
    .progress-lines.vertical {
        animation: vLinesAnimate 1s ease-in;
    }
}

.progress-lines {
    display: flex;
    flex-direction: column;
    gap: 6px;

    div {
        height: 2px;
        width: 100%;
    }

    &.vertical {
        position: absolute;
        top: 0;
        flex-direction: row;
        height: 100%;

        @keyframes vLinesAnimate {
            from {
                height: 0;
            }

            to {
                height: 100%;
            }
        }

        &.start {
            inset-inline-start: 0;
        }

        &.end {
            inset-inline-end: 0;
        }

        div {
            width: 2px;
            height: 100%;
        }
    }

    &.aos-animate {
        div {
            animation: linesAnimate 1s ease-in;
        }

        @keyframes linesAnimate {
            from {
                width: 0;
            }

            to {
                width: 100%;
            }
        }
    }

    &.success {
        div:nth-of-type(1) {
            background-color: #f1f6ed;
        }

        div:nth-of-type(2) {
            background-color: #d3e3c6;
        }

        div:nth-of-type(3) {
            background-color: #bed6aa;
        }

        div:nth-of-type(4) {
            background-color: #a1c384;
        }

        div:nth-of-type(5) {
            background-color: #8eb86c;
        }
    }

    &.primary {
        div:nth-of-type(1) {
            background-color: #e1ebf3;
        }

        div:nth-of-type(2) {
            background-color: #dae7f0;
        }

        div:nth-of-type(3) {
            background-color: #c9dbe9;
        }

        div:nth-of-type(4) {
            background-color: #b7d0e3;
        }

        div:nth-of-type(5) {
            background-color: #a5c5dc;
        }
    }

    div:nth-of-type(1) {
        background-color: #f2efea;
    }

    div:nth-of-type(2) {
        background-color: #e5ded5;
    }

    div:nth-of-type(3) {
        background-color: #d9cec0;
    }

    div:nth-of-type(4) {
        background-color: #ccbeab;
    }

    div:nth-of-type(5) {
        background-color: #bfad96;
    }
}

/************** about **************/
.first-section {
    background: url("../images/logo/1.svg") no-repeat top -15% left;

    &.primary {
        background: url("../images/logo/2.svg") no-repeat top -15% left / 30%;
    }

    &.aos-animate {
        .sec-arrows {
            transition: all 0.5s ease-in-out 1s;

            @media (min-width: 1200px) and (max-width: 1450px) {
                transition: all 0.3 ease-in;
            }
        }
    }

    .sec-arrows {
        @media (min-width: 1200px) and (max-width: 1450px) {
            margin-inline-start: 0;
        }
    }
}

.about-welcome {
    position: relative;
    overflow: hidden;
    height: 470px;
    padding: 70px 56px;
    background: url("../images/top-img/1.png") no-repeat center/cover;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (min-width: 1200px) and (max-width: 1450px) {
        height: 390px;
    }

    &.primary {
        background: url("../images/top-img/2.png") no-repeat center/cover;
    }

    .arrows {
        position: absolute;
        bottom: 50%;
        transform: translateY(50%) scale(1);
        inset-inline-end: 200px;
        transition: all 1s ease-in-out;

        &.hide {
            bottom: 0;
            transform: scale(0);
            inset-inline-end: 100%;
            transform-origin: bottom;
            transition: all 1s ease-in-out;
        }
    }

    .display-1 {
        position: relative;
        z-index: 10;
    }
}

.about-counters {
    display: flex;
    flex-direction: column;
    margin-top: 2.63rem;

    .item {
        position: relative;
        background: url("../images/arrows/left/3.svg") no-repeat center left 0.63rem;

        width: 190px;
        height: 150px;

        border: 1px solid $success;
        border-radius: 1rem;

        h4 {
            max-width: 150px;
            text-align: center;
        }
    }
}

.about-slider-wrap {
    background: url("../images/pages/about/progress-lines.svg") no-repeat center left 3rem / contain;

    &.aos-animate {
        .owl-nav {
            width: 100% !important;
            transition: all 2s ease-in-out;
        }
    }

    .about-slider {
        .content {
            position: relative;
            border-radius: 1rem;

            &::before {
                content: url("../images/icons/logo/logo.svg");
                position: absolute;
                top: 40px;
                inset-inline-start: 24px;
                z-index: 5;

                filter: brightness(0) invert(1);
                transform: scale(1.5);
            }

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                z-index: 0;

                width: 100%;
                height: 100%;

                background-color: rgba($black, 0.25);
                backdrop-filter: blur(1px);
                border-radius: 1rem;
            }

            a {
                position: absolute;
                bottom: 2rem;
                inset-inline: 24px;
                z-index: 5;
            }

            img {
                height: 275px;
                border-radius: 1rem;
            }
        }

        .owl-nav {
            width: 50%;
            margin: auto;
            transition: all 2s ease-in-out;
        }
    }
}

.about-graphs-wrap {
    &.aos-animate {
        .sec-arrows {
            @extend .white-img;
            margin-inline-start: -45px;
        }
    }

    .about-graphs {
        background: url("../images/top-img/1.png") no-repeat center / cover;
        padding: 2.5rem 4.63rem;
        border-radius: 40px;

        .about-bars {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: self-end;
            gap: 20px;

            &.aos-animate {
                .btn-gradient {
                    animation: barsAnimate 3s;

                    @keyframes barsAnimate {
                        from {
                            transform: scaleY(0);
                        }

                        to {
                            transform: scaleY(1);
                        }
                    }
                }
            }

            .item {
                text-align: center;
                background:
                    url("../images/pages/about/bar.svg") no-repeat center/cover,
                    url("../images/arrows/top/1.svg") no-repeat top 30px center;
            }

            .number {
                line-height: 0.5;
                padding-top: 100px;
            }

            h2 {
                text-align: center;
            }

            .date {
                width: 66px;
                height: 48px;

                border-radius: 8px;
                margin: auto;
            }

            .btn-gradient {
                height: 100px;
                width: 80%;
                margin: auto;

                border-top-right-radius: 8px;
                border-top-left-radius: 8px;

                transform-origin: bottom;
            }
        }
    }
}

// board
.about-board {
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background: url("../images/pages/about/board.svg") no-repeat center / contain;
    height: 1500px;
    margin-bottom: 150px;
}

.about-tree {
    .tree {
        width: 1180px;
        height: 727px;
        margin: auto;
        background: url("../images/pages/about/structure/tree.svg") no-repeat top center / contain;

        .bottom-children {
            display: grid;
            grid-template-columns: repeat(7, 1fr);

            li {
                @extend .flex-center;

                font-size: 0.94rem;
                font-weight: 700;

                line-height: 1;
                width: 144px;

                &.head {
                    flex-direction: column;

                    height: 61px;

                    margin-inline-start: 2rem;
                    margin-top: -2px;
                    text-align: center;
                    max-width: 7rem;

                    & ~ li {
                        margin: auto;
                        text-align: center;
                        margin-inline-start: 1.4rem;
                    }
                }
            }
        }
    }
}

// chairman & CEO
.about-chairman {
    position: relative;
    background: url("../images/50-years-2.svg") no-repeat bottom 3.5rem left / 82%;
    margin-top: -120px;

    &.ceo {
        background: url("../images/50-years-2.svg") no-repeat bottom 40% left / 82%;

        .counter-card:first-of-type {
            top: 35%;
            inset-inline-start: 15%;
        }

        .counter-card:last-of-type {
            bottom: 18%;
            inset-inline-end: 17%;
        }
    }

    .counter-card {
        &:first-of-type {
            position: absolute;
            top: 40%;
            inset-inline-start: 15%;
            z-index: 10;
        }

        &:last-of-type {
            position: absolute;
            bottom: 5%;
            inset-inline-end: 17%;
        }

        &.top-left {
            position: absolute;
            top: 30%;
            inset-inline-end: 14%;
            z-index: 10;
        }
    }
}

/************** statistics **************/
// loans
.charts-title {
    @media (min-width: 1200px) and (max-width: 1450px) {
        font-size: 3rem;
    }
}

/************** charts **************/
.aos-animate .donut-chart {
    animation: donutRotate 0.5s ease-in forwards;

    .circle {
        transform: translate(50%, 50%) scale(1);
        transition: all 1.2s ease;
    }

    @keyframes donutRotate {
        from {
            transform: rotate(0);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.donut-chart {
    position: relative;
    padding-inline: 3rem;
    margin-inline: 3rem;

    @media (min-width: 1200px) and (max-width: 1450px) {
        padding-inline: 1rem;
        margin-inline: 1rem;
    }

    .circle {
        @extend .absolute-center;
        @extend .flex-center;
        flex-direction: column;

        width: 104px;
        height: 104px;

        background-color: $blue-100;
        border-radius: 50%;
        transform: translate(50%, 50%) scale(0);

        * {
            line-height: 0.7;
        }
    }

    .donut-img {
        @media (min-width: 1200px) and (max-width: 1450px) {
            width: 350px;
        }
    }

    .biggest {
        position: absolute;
        bottom: 2rem;
        text-align: center;

        .title {
            color: $blue-100;
            font-size: 2rem;
        }

        .value {
            background-color: $blue-100;
            color: rgba($primary, 0.8);

            font-size: 2rem;
            border-radius: 0.5rem;
            padding: 0.2rem 0.7rem;
        }
    }
}

.chart-label-circle {
    @extend .flex-center;

    width: 1rem;
    height: 1rem;

    border-radius: 50%;
    margin-inline-end: 0.38rem;
}

.chart-label {
    background:
        url("../images/arrows/left/7.svg") no-repeat center right 0.25rem / contain,
        $blue-100;
    color: rgba($primary, 0.8);

    margin-inline-start: 2px;
    border-radius: 0.5rem;

    padding-block: 0.25rem;
    padding-inline: 2rem 0.5rem;
}

.chart-labels-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
