/************** about **************/
section {
    position: relative;

    .sec-arrows {
        margin-top: -600px;
        margin-inline-start: -80px;

        opacity: 0;
        transition: all 1s ease-in-out;
    }

    &.aos-animate {
        .sec-arrows {
            margin-top: 0;
            margin-inline-start: -80px;

            width: 52px;
            opacity: 1;
            transition: all 1s ease-in-out;
        }
    }
}

.sec-title {
    position: relative;

    img {
        position: absolute;
        inset-inline-start: -70px;
    }
}

.sec-dark {
    background-color: #f1f6ed !important;
}

// sections
.about-brief {
    background: url("../images/about/section-bg.svg") no-repeat top -40% left;

    .sec-arrows {
        width: 330px;
        margin-inline-start: 180px;
    }

    &.aos-animate {
        .sec-arrows {
            transition: all 1s ease-in-out 0.3s;
        }
    }
}

.about-welcome {
    position: relative;
    overflow: hidden;
    height: 614px;
    padding: 70px 56px;
    border-radius: 40px;
    background: url("../images/about/about.png") no-repeat center/cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .arrows {
        position: absolute;
        bottom: 50%;
        transform: translateY(50%) scale(1);
        inset-inline-end: 200px;
        transition: all 1s ease-in-out;

        &.hide {
            bottom: 0;
            transform: scale(0);
            inset-inline-end: 100%;
            transform-origin: bottom;
            transition: all 1s ease-in-out;
        }
    }

    .display-1 {
        position: relative;
        z-index: 10;
    }
}

.about-counters-wrapper {
    display: grid;
    grid-template-columns: 1fr 380px;
    gap: 3rem;
}

.about-counters {
    display: flex;
    flex-direction: column;
    margin-top: 2.63rem;

    .item {
        position: relative;
        background: url("../images/about/about-arrows-3.svg") no-repeat center left 0.63rem;

        width: 190px;
        height: 150px;

        border: 1px solid $success;
        border-radius: 1rem;

        h4 {
            max-width: 150px;
            text-align: center;
        }
    }
}

.about-navbar {
    position: relative;
    padding-block: 14px 24px;
    overflow: hidden;

    background-color: $white;
    box-shadow: 0 5px 5px 0 rgba($black, 0.07);

    &.sticky {
        position: fixed;
        inset: 61px 0 auto;
        z-index: 25;

        border-top: 1px solid #ddd;
        padding-block: 12px;

        transition: all 0.3s ease-in-out;
        animation: progressAnimation 0.3s;

        ul {
            transform: translateX(100px);
            animation: ulAnimation 1s both;
        }
    }

    @keyframes progressAnimation {
        0% {
            top: -100%;
        }

        100% {
            top: 0;
        }
    }

    @keyframes ulAnimation {
        0% {
            transform: translateX(100px);
        }

        50% {
            transform: translateX(-100px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .nav-item {
        .nav-link {
            background-color: #e8e6e6;
            color: #8a8b8d;

            font-size: 24px;
            font-weight: 600;
            text-align: center;

            &:not(.active) {
                border: 1px solid transparent;
            }

            &.active {
                @extend .btn-gradient;
            }

            &:not(.active):hover {
                border: 1px solid $success;
                color: $black;
            }
        }

        &:first-of-type {
            .nav-link {
                border-start-start-radius: 0;
                border-end-start-radius: 0;
            }
        }

        &:last-of-type {
            .nav-link {
                border-start-end-radius: 0;
                border-end-end-radius: 0;
            }
        }
    }

    .progress {
        position: absolute;
        inset-inline-start: 0;
        bottom: 0;

        width: 0;
        height: 4px;

        background-color: $success;
        transition: width 0.1s ease-in-out;
    }
}

.about-vision {
    @mixin liHover {
        background:
            url("../images/about/about-arrows-4.svg") no-repeat center left 50px / contain,
            linear-gradient(0deg, #386732 6.54%, #467836 24.54%, #5d933c 56.54%, #6ba440 84.54%, #70aa42 106.54%);
        color: $white;

        outline: 1px solid $success;
        transition: all 0.5s ease-in-out;
        animation: liAnimate 0.5s;

        @keyframes liAnimate {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        h5,
        p {
            color: $white !important;
        }

        .arrow {
            animation: arrowAnimation 1s ease-in-out;

            @keyframes arrowAnimation {
                0% {
                    transform: translateX(0);
                }

                50% {
                    transform: translateX(-50px);
                }

                to {
                    transform: translateX(0);
                }
            }
        }
    }

    .item {
        position: relative;
        padding: 32px 56px;

        border: 1px solid $success;
        border-radius: 1rem;

        color: $success;
        transition: all 0.5s ease-in-out;

        &:hover {
            @include liHover;

            &.span-2 {
                background:
                    url("../images/about/about-arrows-4.svg") no-repeat center left 30px / contain,
                    linear-gradient(
                        0deg,
                        #386732 6.54%,
                        #467836 24.54%,
                        #5d933c 56.54%,
                        #6ba440 84.54%,
                        #70aa42 106.54%
                    );
            }
        }

        p {
            max-width: 75%;
        }

        .grid-icon {
            grid-template-rows: 1.5rem auto;

            h5 {
                color: #636467;
            }

            p {
                color: #6d6e71;
            }
        }
    }
}

.about-graphs-wrap {
    &.aos-animate {
        .sec-arrows {
            @extend .white-img;
            margin-inline-start: -45px;
        }
    }
    .about-graphs {
        background: url("../images/about/about.png") no-repeat center;
        padding: 2.5rem 4.63rem;
        border-radius: 40px;

        .about-bars {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: self-end;
            gap: 20px;

            &.aos-animate {
                .btn-gradient {
                    animation: barsAnimate 3s;

                    @keyframes barsAnimate {
                        from {
                            transform: scaleY(0);
                        }

                        to {
                            transform: scaleY(1);
                        }
                    }
                }
            }

            .item {
                text-align: center;
                background:
                    url("../images/about/bar.svg") no-repeat center/cover,
                    url("../images/about/bar-arrows.svg") no-repeat top 30px center;
            }

            .number {
                line-height: 0.5;
                padding-top: 100px;
            }

            h2 {
                text-align: center;
            }

            .date {
                width: 66px;
                height: 48px;

                border-radius: 8px;
                margin: auto;
            }

            .btn-gradient {
                height: 100px;
                width: 80%;
                margin: auto;

                border-top-right-radius: 8px;
                border-top-left-radius: 8px;

                transform-origin: bottom;
            }
        }
    }
}

.about-slider-wrap {
    background: url("../images/about/progress-lines.svg") no-repeat center left 3rem / contain;

    &.aos-animate {
        .owl-nav {
            width: 100% !important;
            transition: all 2s ease-in-out;
        }
    }

    .about-slider {
        .content {
            position: relative;
            border-radius: 1rem;

            &::before {
                content: url("../images/icons/logo.svg");
                position: absolute;
                top: 40px;
                inset-inline-start: 24px;
                z-index: 5;

                filter: brightness(0) invert(1);
                transform: scale(1.5);
            }

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                z-index: 0;

                width: 100%;
                height: 100%;

                background-color: rgba($black, 0.25);
                backdrop-filter: blur(1px);
                border-radius: 1rem;
            }

            a {
                position: absolute;
                bottom: 2rem;
                inset-inline: 24px;
                z-index: 5;
            }

            img {
                height: 275px;
                border-radius: 1rem;
            }
        }

        .owl-nav {
            width: 50%;
            margin: auto;
            transition: all 2s ease-in-out;
        }
    }
}

// about slider
.owl-nav {
    @extend .flex-between;
    flex-direction: row;
    width: 100%;
    margin-top: 50px !important;
}

.owl-prev,
.owl-next {
    @extend .flex-center;

    width: 40px;
    height: 40px;

    background: $white !important;
    color: $success !important;
    border: 1px solid $success !important;

    font-size: 1.7rem !important;
}

.owl-dots {
    margin-top: -35px;

    .owl-dot {
        vertical-align: middle;

        span {
            width: 7.3vw !important;
            height: 1px !important;

            border-radius: 0 !important;
            margin: 5px 0 !important;
        }

        &.active {
            span {
                height: 3px !important;
                background-color: $success !important;

                .circle-dots & {
                    height: 11px !important;
                    width: 11px !important;
                }
            }
        }
    }
}
