/************** general **************/
.about-navbar {
    position: relative;
    padding-block: 14px 24px;
    overflow: hidden;

    background-color: $white;
    box-shadow: 0 5px 5px 0 rgba($black, 0.07);

    &.sticky {
        position: fixed;
        inset: 61px 0 auto;
        z-index: 25;

        border-top: 1px solid #ddd;
        padding-block: 12px;

        transition: all 0.3s ease-in-out;
        animation: progressAnimation 0.3s;

        @media (min-width: 1200px) and (max-width: 1450px) {
            inset: 53px 0 auto;
        }

        ul {
            transform: translateX(100px);
            animation: ulAnimation 1s both;
        }
    }

    @keyframes progressAnimation {
        0% {
            top: -100%;
        }

        100% {
            top: 0;
        }
    }

    @keyframes ulAnimation {
        0% {
            transform: translateX(100px);
        }

        50% {
            transform: translateX(-100px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .nav-item {
        .nav-link {
            background-color: #e8e6e6;
            color: #8a8b8d;

            font-size: 24px;
            font-weight: 600;
            text-align: center;

            @media (min-width: 1200px) and (max-width: 1450px) {
                padding-block: 0.25rem;
            }

            &:not(.active) {
                border: 1px solid transparent;
            }

            &.active {
                @extend .btn-gradient;
            }

            &:not(.active):hover {
                border: 1px solid $success;
                color: $black;
            }
        }

        &:first-of-type {
            .nav-link {
                border-start-start-radius: 0;
                border-end-start-radius: 0;
            }
        }

        &:last-of-type {
            .nav-link {
                border-start-end-radius: 0;
                border-end-end-radius: 0;
            }
        }
    }

    .progress {
        position: absolute;
        inset-inline-start: 0;
        bottom: 0;

        width: 0;
        height: 4px;

        background-color: $success;
        transition: width 0.1s ease-in-out;
    }
}

/************** about **************/
// brief
.about-brief {
    background: url("../images/about/section-bg.svg") no-repeat top -40% left;

    .sec-arrows {
        width: 330px;
        margin-inline-start: 180px;

        @media (min-width: 1200px) and (max-width: 1450px) {
            margin-inline-start: 0;
        }
    }

    &.aos-animate {
        .sec-arrows {
            transition: all 1s ease-in-out 0.3s;

            @media (min-width: 1200px) and (max-width: 1450px) {
                transition: all 1s ease-in-out 0s;
            }
        }
    }
}

.about-welcome {
    position: relative;
    overflow: hidden;
    height: 614px;
    padding: 70px 56px;
    border-radius: 40px;
    background: url("../images/about/about.png") no-repeat center/cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .arrows {
        position: absolute;
        bottom: 50%;
        transform: translateY(50%) scale(1);
        inset-inline-end: 200px;
        transition: all 1s ease-in-out;

        &.hide {
            bottom: 0;
            transform: scale(0);
            inset-inline-end: 100%;
            transform-origin: bottom;
            transition: all 1s ease-in-out;
        }
    }

    .display-1 {
        position: relative;
        z-index: 10;
    }
}

.about-counters {
    display: flex;
    flex-direction: column;
    margin-top: 2.63rem;

    .item {
        position: relative;
        background: url("../images/arrows/about-arrows-3.svg") no-repeat center left 0.63rem;

        width: 190px;
        height: 150px;

        border: 1px solid $success;
        border-radius: 1rem;

        h4 {
            max-width: 150px;
            text-align: center;
        }
    }
}

.about-slider-wrap {
    background: url("../images/about/progress-lines.svg") no-repeat center left 3rem / contain;

    &.aos-animate {
        .owl-nav {
            width: 100% !important;
            transition: all 2s ease-in-out;
        }
    }

    .about-slider {
        .content {
            position: relative;
            border-radius: 1rem;

            &::before {
                content: url("../images/icons/logo.svg");
                position: absolute;
                top: 40px;
                inset-inline-start: 24px;
                z-index: 5;

                filter: brightness(0) invert(1);
                transform: scale(1.5);
            }

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                z-index: 0;

                width: 100%;
                height: 100%;

                background-color: rgba($black, 0.25);
                backdrop-filter: blur(1px);
                border-radius: 1rem;
            }

            a {
                position: absolute;
                bottom: 2rem;
                inset-inline: 24px;
                z-index: 5;
            }

            img {
                height: 275px;
                border-radius: 1rem;
            }
        }

        .owl-nav {
            width: 50%;
            margin: auto;
            transition: all 2s ease-in-out;
        }
    }
}

.about-graphs-wrap {
    &.aos-animate {
        .sec-arrows {
            @extend .white-img;
            margin-inline-start: -45px;
        }
    }
    .about-graphs {
        background: url("../images/about/about.png") no-repeat center;
        padding: 2.5rem 4.63rem;
        border-radius: 40px;

        .about-bars {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            align-items: self-end;
            gap: 20px;

            &.aos-animate {
                .btn-gradient {
                    animation: barsAnimate 3s;

                    @keyframes barsAnimate {
                        from {
                            transform: scaleY(0);
                        }

                        to {
                            transform: scaleY(1);
                        }
                    }
                }
            }

            .item {
                text-align: center;
                background:
                    url("../images/about/bar.svg") no-repeat center/cover,
                    url("../images/arrows/bar-arrows.svg") no-repeat top 30px center;
            }

            .number {
                line-height: 0.5;
                padding-top: 100px;
            }

            h2 {
                text-align: center;
            }

            .date {
                width: 66px;
                height: 48px;

                border-radius: 8px;
                margin: auto;
            }

            .btn-gradient {
                height: 100px;
                width: 80%;
                margin: auto;

                border-top-right-radius: 8px;
                border-top-left-radius: 8px;

                transform-origin: bottom;
            }
        }
    }
}

// board
.about-board {
    position: relative;
    background: url("../images/about/board.svg") no-repeat center / contain;
    height: 1260px;
}
