.dash-layout {
    @media (min-width: 1200px) {
        display: grid;
        grid-template-columns: 240px 1fr;
    }
}

.dash-content {
    background-color: #f8f8f8;
    height: 100vh;

    main {
        padding: 1.5rem;
        height: calc(100vh - 90px);
        overflow-y: auto;
        margin-inline-end: 20px;
        padding-inline-end: 8px;
        // direction: ltr;
    }

    * {
        [lang="ar"] & {
            direction: rtl;
        }
    }
}

// .toggle-side-btn {
//     display: none;

//     border: 2px solid $white !important;
//     border-radius: 50%;

//     color: $white !important;
//     background-color: var(--primary) !important;

//     width: 32px;
//     height: 32px;

//     position: fixed;
//     top: 70px;
//     inset-inline-start: -8px;
//     z-index: 35;

//     @media (max-width: 1199px) {
//         top: 53px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }

//     @media (max-width: 767px) {
//         top: 65px;
//     }

//     .material-icons {
//         transform: scale(1.3) rotate(180deg);

//         &.collapsed {
//             transform: scale(1.3) rotate(0);
//         }
//     }
// }

.dash-header {
    @extend .flex-between;

    padding: 1.3rem;
    background-color: $white;

    .title {
        a {
            font-size: 1.88rem !important;
            font-weight: 600;
            color: #4e3418;
        }
    }

    .lang-btn {
        font-size: 1.25rem;
        font-weight: 500;
        color: #4e3418;
    }
}

.dash-side-menu {
    height: 100vh;
    overflow-x: hidden;

    @media (max-width: 1199px) {
        position: fixed;
        inset: 0;
        height: 100vh;
        z-index: 25;

        width: 100%;
        padding: 1rem;
        backdrop-filter: blur(2px);
        transition: all 0.3s ease-in-out;
    }

    &.expanded {
        @media (max-width: 1199px) {
            padding-block: 2px;
            transition: all 0.3s ease-in-out;
        }
    }

    .logo {
        @extend .flex-end;
        gap: 0.5rem;
        margin-block: 1rem 1.5rem;
        margin-inline-end: 0.5rem;
    }

    label {
        font-size: 1.25rem;
        font-weight: 500;
        padding-inline: 1rem;
        color: $gray-400;
    }

    .items-list {
        overflow-x: hidden;
        overflow-y: auto;

        padding-inline: 1rem;
        height: calc(100vh - 110px);

        display: flex;
        flex-direction: column;

        &::-webkit-scrollbar {
            width: 4px;
        }

        .item {
            display: flex;
            gap: 1rem;

            padding: 0.4rem 1.25rem;
            color: $gray-500;
            border-radius: 0.5rem;

            font-size: 1.5rem;
            font-weight: 500;

            &.active {
                @extend .btn-gradient;

                .icon {
                    @extend .white-img;
                }
            }
        }
    }
}

.dash-title {
    font-size: 3rem;
    font-weight: 700;
    color: $gray-700;
}

.dash-table {
    th {
        padding-block: 0.35rem !important;
        font-size: 1.25rem;
        font-weight: 500;

        &:first-of-type {
            border-start-start-radius: 0.25rem !important;
        }

        &:last-of-type {
            border-start-end-radius: 0.25rem !important;
        }
    }

    td {
        border: none;
        padding-block: 1rem !important;
    }

    tbody {
        tr:nth-of-type(odd) {
            td {
                background-color: #f1f6ed;
            }
        }
    }

}

.pagination {
    justify-content: center;

    .page-item {
        border-radius: 0 !important;

        &:first-of-type {
            .page-link {
                background-color: #f0f1f1;
                border-start-start-radius: 0.5rem !important;
                border-end-start-radius: 0.5rem !important;
            }
        }

        &:last-of-type {
            .page-link {
                background-color: #f0f1f1;
                border-start-end-radius: 0.5rem !important;
                border-end-end-radius: 0.5rem !important;
            }
        }

        .page-link {
            border-radius: 0;
            color: $gray-500;
        }
    }
}
