@mixin text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.white-img {
    filter: brightness(0) invert(1);
}

.success-img {
    filter: invert(39%) sepia(224%) saturate(1068%) hue-rotate(50deg) brightness(67%) contrast(95%);
}

.success-dark-img {
    filter: invert(39%) sepia(224%) saturate(1068%) hue-rotate(50deg) brightness(50%) contrast(95%);
}

.no-filter {
    filter: none !important;
}

.absolute-center {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

.absolute-start {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    inset-inline-start: 0;
}

.absolute-end {
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    inset-inline-end: 0;
}

.btn-gradient {
    background: linear-gradient(0deg, #386732 6.54%, #467836 24.54%, #5d933c 56.54%, #6ba440 84.54%, #70aa42 106.54%);
    color: $white;

    &.horizontal {
        background: linear-gradient(
            270deg,
            #386732 6.54%,
            #467836 24.54%,
            #5d933c 56.54%,
            #6ba440 84.54%,
            #70aa42 106.54%
        );
    }

    &.primary {
        background: linear-gradient(180deg, #3c80b0 -0.99%, #165578 95.36%);

        &.horizontal {
            background: linear-gradient(90deg, #3c80b0 -0.99%, #165578 95.36%);
        }
    }

    &.vertical {
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;

        &.arrow {
            background:
                url("../images/arrows/top/2.svg") no-repeat top 1rem center / contain,
                linear-gradient(180deg, #3c80b0 -0.99%, #165578 95.36%);
        }
    }
}

.btn-gradient-primary {
    background: linear-gradient(180deg, #3c80b0 -0.99%, #165578 95.36%);
}

.btn-gradient-gold {
    background: linear-gradient(
        325.75deg,
        #6c471d -0.07%,
        #6c471d 12.44%,
        #6c471d 18.7%,
        #6c471d 20.26%,
        #6c471d 21.04%,
        #6d481e 21.43%,
        #6e491f 21.82%,
        #6e491f 22.21%,
        #6f4a20 22.61%,
        #704b20 23%,
        #704b21 23.39%,
        #714c21 23.78%,
        #714d22 24.17%,
        #724d22 24.56%,
        #734e23 24.95%,
        #734f23 25.34%,
        #744f24 25.73%,
        #755025 26.13%,
        #755125 26.52%,
        #765226 26.91%,
        #765226 27.3%,
        #775327 27.69%,
        #785427 28.08%,
        #785428 28.47%,
        #795528 28.86%,
        #795629 29.25%,
        #7a5629 29.64%,
        #7b572a 30.04%,
        #7b582b 30.43%,
        #7c582b 30.82%,
        #7d592c 31.21%,
        #7d5a2c 31.6%,
        #7e5a2d 31.99%,
        #7e5b2d 32.38%,
        #7f5c2e 32.77%,
        #805c2e 33.16%,
        #805d2f 33.55%,
        #815e2f 33.95%,
        #815e30 34.34%,
        #825f31 34.73%,
        #836031 35.12%,
        #836132 35.51%,
        #846132 35.9%,
        #856233 36.29%,
        #856333 36.68%,
        #866334 37.07%,
        #866434 37.46%,
        #876535 37.86%,
        #886535 38.25%,
        #886636 38.64%,
        #896737 39.03%,
        #8a6737 39.42%,
        #8a6838 39.81%,
        #8b6938 40.2%,
        #8b6939 40.59%,
        #8c6a39 40.98%,
        #8d6b3a 41.37%,
        #8d6b3a 41.77%,
        #8e6c3b 42.16%,
        #8e6d3c 42.55%,
        #8f6d3c 42.94%,
        #906e3d 43.33%,
        #906f3d 43.72%,
        #91703e 44.11%,
        #92703e 44.5%,
        #92713f 44.89%,
        #93723f 45.28%,
        #937240 45.68%,
        #947340 46.07%,
        #957441 46.46%,
        #957442 46.85%,
        #967542 47.24%,
        #967643 47.63%,
        #977643 48.02%,
        #987744 48.41%,
        #987844 48.8%,
        #997845 49.19%,
        #9a7945 49.59%,
        #9a7a46 49.98%,
        #9b7a46 50.37%,
        #9b7b47 50.76%,
        #9c7c48 51.15%,
        #9d7c48 51.54%,
        #9d7d49 51.93%,
        #9e7e49 52.32%,
        #9f7e4a 52.71%,
        #9f7f4a 53.1%,
        #a0804b 53.5%,
        #a0804b 53.89%,
        #a1814c 54.28%,
        #a1824c 54.67%,
        #a2824d 55.06%,
        #a3834d 55.45%,
        #a3844e 55.84%,
        #a4844e 56.23%,
        #a4854f 56.62%,
        #a5854f 57.01%,
        #a58650 57.41%,
        #a68750 57.8%,
        #a78751 58.19%,
        #a78851 58.58%,
        #a88852 58.97%,
        #a88952 59.36%,
        #a98a53 59.75%,
        #a98a53 60.14%,
        #aa8b54 60.53%,
        #aa8c54 60.92%,
        #ab8c54 61.32%,
        #ac8d55 61.71%,
        #ac8d55 62.1%,
        #ad8e56 62.49%,
        #ad8f56 62.88%,
        #ae8f57 63.27%,
        #ae9057 63.66%,
        #af9058 64.05%,
        #af9158 64.44%,
        #b09259 64.83%,
        #b19259 65.23%,
        #b1935a 65.62%,
        #b2935a 66.01%,
        #b2945b 66.4%,
        #b3955b 66.79%,
        #b3955c 67.18%,
        #b4965c 67.57%,
        #b5975d 67.96%,
        #b5975d 68.35%,
        #b6985e 68.74%,
        #b6985e 69.14%,
        #b7995f 69.53%,
        #b79a5f 69.92%,
        #b89a60 70.31%,
        #b89b60 70.7%,
        #b99b60 71.09%,
        #ba9c61 71.48%,
        #ba9d61 71.87%,
        #bb9d62 72.26%,
        #bb9e62 72.65%,
        #bc9f63 73.05%,
        #bc9f63 73.44%,
        #bda064 73.83%,
        #bea064 74.22%,
        #bea165 74.61%,
        #bfa265 75%,
        #bfa266 75.39%,
        #c0a366 75.78%,
        #c0a367 76.17%,
        #c1a467 76.57%,
        #c1a568 76.96%,
        #c2a568 77.35%,
        #c3a669 77.74%,
        #c3a769 78.13%,
        #c4a76a 78.52%,
        #c4a86a 78.91%,
        #c5a86b 79.3%,
        #c5a96b 79.69%,
        #c6aa6c 80.08%,
        #c7aa6c 80.48%,
        #c7ab6c 80.87%,
        #c8ab6d 81.26%,
        #c8ac6d 81.65%,
        #c9ad6e 82.04%,
        #c9ad6e 82.43%,
        #caae6f 82.82%,
        #caae6f 83.6%,
        #cbaf70 84.39%,
        #ccb071 85.17%,
        #cdb172 85.95%,
        #ceb272 86.73%,
        #ceb373 87.51%,
        #cfb474 88.3%,
        #d0b575 89.08%,
        #d1b675 89.86%,
        #d2b776 90.64%,
        #d3b877 91.42%,
        #d3b978 92.21%,
        #d4ba79 92.99%,
        #d5ba79 93.77%,
        #d6bb7a 94.55%,
        #d7bc7b 95.33%,
        #d8bd7c 96.12%,
        #d8be7c 96.9%,
        #d9bf7d 97.68%,
        #dac07e 98.46%,
        #dac07e 100.03%
    );
}

.btn-brown {
    background: #7e5b2d !important;
    color: $white;
}

.sec-padding {
    padding-block: 80px;

    @media (max-width: 1199px) {
        padding-block: 40px;
    }
}

[class*="grid"] {
    display: grid !important;
    gap: 1rem;

    &:not(.grid-icon):not([class*="grid-md"]):not([class*="grid-xs"]) {
        @media (max-width: 1199px) {
            display: flex !important;
            flex-direction: column;
        }
    }
}

.grid-icon {
    display: grid !important;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0 0.5rem;
    width: fit-content;
    text-align: start;

    label {
        margin-bottom: 0;
    }

    & > img:first-child {
        min-width: max-content;
    }

    & > :first-child {
        grid-row: 1/3;
    }

    & > :nth-child(2) {
        grid-row: 1/2;
    }

    & > :last-child {
        grid-row: 2/3;
    }
}

.grid-center {
    justify-content: center;
    margin: auto;
}

.flex-center,
.flex-y-center,
.flex-y-row,
.flex-between,
.flex-start,
.flex-end {
    display: flex !important;
    align-items: center;
}

.flex-start {
    margin-inline-end: auto !important;
    @extend .w-fit;
}

.flex-end {
    margin-inline-start: auto !important;
    @extend .w-fit;
}

.flex-center {
    justify-content: center !important;
}

.flex-between {
    justify-content: space-between !important;
    gap: 1rem;
}

.flex-y-center,
.flex-between {
    @media (max-width: 767px) {
        flex-direction: column;
    }
}

.rotate-90 {
    transform: rotate(90deg);
    transition: all 0.2s ease-in-out;
}

.rotate-180 {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
}

.rotate-270 {
    transform: rotate(270deg);
    transition: all 0.2s ease-in-out;
}

.v-small {
    font-size: 12px !important;
}

.h-fit {
    height: fit-content !important;
}

.w-fit {
    width: fit-content !important;

    @media (min-width: 992px) {
        max-width: fit-content !important;
    }
}

.w-md-100 {
    @media (max-width: 1199px) {
        width: 100% !important;
    }
}

.w-xs-100 {
    @media (max-width: 767px) {
        width: 100% !important;
    }
}

.mw-fit {
    min-width: fit-content !important;
}

.f-18 {
    font-size: 1.13rem;
}

.dashed {
    border-style: dashed !important;
}

.en-reverse {
    html:lang(en) & {
        transform: rotate(180deg);
    }
}

.round-start {
    border-start-start-radius: 0.5rem !important;
    border-end-start-radius: 0.5rem !important;
}

.round-leaf {
    border-radius: 5rem 0.5rem !important;
}

.round-end {
    border-start-end-radius: 0.5rem !important;
    border-end-end-radius: 0.5rem !important;
}

.underline {
    text-decoration: underline;
}

.underline-hover:hover {
    text-decoration: underline;
}

.op-hover:hover {
    opacity: 1 !important;
}

@for $fw from 3 through 9 {
    .fw-#{$fw} {
        font-weight: #{$fw * 100} !important;
    }
}

.fw-3 {
    font-family: "Sarmady ExtraLight";
}

@for $i from 1 through 6 {
    .grid-#{$i} {
        grid-template-columns: repeat(#{$i}, 1fr);
    }

    .grid-xxl-#{$i} {
        @media (min-width: 1450px) {
            grid-template-columns: repeat(#{$i}, 1fr) !important;
        }
    }

    .grid-xl-#{$i} {
        @media (min-width: 1200px) {
            grid-template-columns: repeat(#{$i}, 1fr) !important;
        }
    }

    .grid-md-#{$i} {
        @media (max-width: 1199px) {
            display: grid !important;
            grid-template-columns: repeat(#{$i}, 1fr) !important;
        }
    }

    .grid-xs-#{$i} {
        @media (max-width: 767px) {
            display: grid !important;
            grid-template-columns: repeat(#{$i}, 1fr) !important;
        }
    }

    .rounded-#{$i} {
        border-radius: calc($i * 0.25rem) !important;
    }

    .span-#{$i} {
        grid-column: span $i;
    }

    .span-xl-#{$i} {
        @media (min-width: 1200px) {
            grid-column: span $i;
        }
    }

    .span-md-#{$i} {
        @media (max-width: 1199px) {
            grid-column: span $i !important;
        }
    }

    .span-xs-#{$i} {
        @media (max-width: 767px) {
            grid-column: span $i;
        }
    }
}

@for $i from 0 through 12 {
    .gapx-#{$i} {
        column-gap: calc($i * 0.25rem);
    }

    .gapy-#{$i} {
        row-gap: calc($i * 0.25rem);
    }
}

@for $i from 1 through 9 {
    .op-#{$i} {
        opacity: calc($i / 10) !important;
    }

    .bg-danger-#{$i} {
        background-color: rgba(#b52727, calc($i / 10));
    }

    .bg-white-#{$i} {
        background-color: rgba(var(--background), calc($i / 10));
    }

    .bg-gray-#{$i} {
        background-color: rgba(#ebcece, calc($i / 10)) !important;
    }

    .text-black-#{$i} {
        color: rgba($black, calc($i / 10)) !important;
    }

    @media (min-width: 768px) {
        .w-md-#{$i} {
            width: unquote("#{$i * 10}%") !important;
        }
    }

    @media (min-width: 992px) {
        .w-lg-#{$i} {
            width: unquote("#{$i * 10}%") !important;
        }
    }

    @media (min-width: 1400px) {
        .w-xxl-#{$i} {
            width: unquote("#{$i * 10}%") !important;
        }
    }
}
