.home-side {
    transition: all 0.5s ease-in-out;
    animation: sideAnimate 1s ease-in 6s forwards;

    @media (min-width: 1200px) {
        position: absolute;
        top: 120px;
        inset-inline-start: 5.5vw;
    }

    @media (max-width: 1199px) {
        display: flex;
        justify-content: space-between;
        margin-top: 1.25rem;
    }

    @keyframes sideAnimate {
        from {
            top: 190px;
            inset-inline-start: -5.5vw;
            transform: scale(0.5);
        }

        to {
            top: 120px;
            inset-inline-start: 5.5vw;
            transform: scale(1);
        }
    }

    &.bottom {
        top: 45% !important;
        inset-inline-end: 20.5vw;
        transition: all 0.5s ease-in-out;

        img {
            transform: scale(0.6);
            margin-top: -4rem;
            margin-inline-start: -11%;
            transition: all 0.2s ease-in-out;
        }

        .display-1,
        .display-3 {
            font-size: 3rem !important;
        }
    }

    img {
        transition: all 0.2s ease-in-out;

        @media (min-width: 1200px) and (max-width: 1450px) {
            width: 400px;
        }
    }

    .home-title {
        color: #6a522f;

        @media (max-width: 1199px) {
            padding-top: 1.25rem;
        }

        .display-3 {
            transition: all 0.5s ease-in-out;
            font-size: 1.5rem;

            @media (min-width: 1200px) {
                font-size: 4.5rem;
            }
        }

        .display-1 {
            transition: all 0.5s ease-in-out;
            font-size: 1.5rem;

            @media (min-width: 1200px) {
                font-size: 5.5rem;
            }
        }
    }
}

.home .main-content .progress-lines {
    position: fixed;
    inset: auto 0 70px;
    z-index: -1;
    width: 2vw;

    @media (max-width: 991px) {
        inset: auto 0 20px;
    }
}

.hexagons-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;

    position: relative;
    height: 2000px;
    padding-block: 1000px;
    transform: rotate(60deg);
    overflow: hidden auto;

    margin-top: -670px;
    margin-inline-start: 400px;

    @media (max-width: 1450px) {
        padding-block: 800px 1200px;
    }

    @media (max-width: 991px) {
        height: 420px;
        width: 700px;

        padding-inline: 500px 100px;
        z-index: 10;

        margin-top: 150px;
        margin-inline-start: -140px;
    }

    &::-webkit-scrollbar {
        width: 0;
    }

    &.end {
        @media (min-width: 1200px) and (max-width: 1450px) {
            padding-block: 700px 1200px;
        }

        @media (max-width: 991px) {
            margin-top: 20px;
            padding-inline: 500px;
            transform: rotate(-40deg);
        }
    }
}

.hexagon-layout {
    &:first-of-type {
        margin-top: 10px;
        margin-inline-start: 140px;

        @media (min-width: 1200px) and (max-width: 1450px) {
            margin-top: 130px;
            margin-inline-start: 130px;
        }
    }

    &:last-of-type {
        margin-top: -285px;
        margin-inline-start: -290px;

        @media (min-width: 1200px) and (max-width: 1450px) {
            margin-top: -100px;
            margin-inline-start: -235px;
        }
    }
}

.hexagon {
    position: relative;
    transform: rotate(-60deg);
    height: 300px;
    width: 300px;

    @media (max-width: 1450px) {
        height: 230px;
        width: 230px;
    }

    &:nth-of-type(even) {
        li:hover a {
            color: $info;
        }
    }

    // hover
    &.expand-hexagon {
        z-index: 30;

        img {
            width: 345px;
            filter: brightness(0.5);
            transition: all 0.3s ease-in-out;

            @media (max-width: 1450px) {
                width: 260px;
            }

            @media (max-width: 1199px) {
                width: 245px;
            }
        }

        h2 {
            top: 30px;
            max-width: 200px;

            @media (min-width: 1200px) and (max-width: 1450px) {
                top: 10px;
                inset-inline-start: 50px;
                font-size: 1.75rem;
            }

            @media (max-width: 991px) {
                top: 5px;
            }
        }

        .content {
            top: 85px;
            inset-inline-start: 15%;
            max-width: 200px;

            @media (min-width: 1200px) and (max-width: 1450px) {
                bottom: auto;
                top: 50px;
            }

            @media (max-width: 991px) {
                top: 35px;
                inset-inline-start: 10%;
                max-width: 230px;
                bottom: 20px;
            }
        }

        h4 {
            max-width: 200px;
            white-space: nowrap;

            @media (min-width: 1200px) and (max-width: 1450px) {
                font-size: 1.25rem;
            }
        }

        ul {
            display: block;
            animation: animateList 1s;

            @media (min-width: 992px) {
                margin-top: 20px;
            }

            @media (min-width: 992px) {
                margin-top: 0;
            }

            @keyframes animateList {
                0% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }
        }
    }

    img {
        z-index: 0;
        width: 320px;
        transition: all 0.3s ease-in-out;

        @media (max-width: 1450px) {
            width: 250px;
        }

        @media (max-width: 1199px) {
            width: 220px;
        }
    }

    h2 {
        position: absolute;
        top: 60px;
        inset-inline-start: 15%;
        z-index: 10;
        max-width: 150px;
        transition: all 0.3s ease-in-out;
    }

    .content {
        position: absolute;
        bottom: 50px;
        inset-inline-start: 20%;
        z-index: 10;
        transition: all 0.3s ease-in-out;
    }

    h4 {
        @extend .flex-y-row;
        max-width: 150px;
        gap: 0.3rem;
    }

    .toggle-arrow {
        width: 27px;
        height: 27px;

        background: rgba(#91bf9e, 0.5);
        color: $white;

        border-radius: 50%;
        transform: rotate(180deg);

        @media (min-width: 992px) {
            display: none !important;
        }
    }

    ul {
        display: none;
    }

    li {
        padding: 2px 6px;

        @media (min-width: 1200px) and (max-width: 1450px) {
            max-width: 160px;
        }

        &:hover {
            background: $white url("../images/arrows/about-arrows.svg") no-repeat center left 15px/20px;

            a {
                color: $success;
            }
        }

        &:not(:hover) {
            & + li {
                border-top: 1px solid rgba(#a4ae9c, 0.7);
            }

            &:last-of-type {
                @media (min-width: 992px) {
                    border-bottom: 1px solid rgba(#a4ae9c, 0.7);
                }
            }
        }

        a {
            font-size: 1.13rem;
            font-weight: 600;

            max-width: 210px;
            display: block;
            color: $white;

            @media (min-width: 1200px) and (max-width: 1450px) {
                font-size: 0.93rem;
                font-weight: 400;
                white-space: nowrap;
            }

            @media (min-width: 992px) {
                padding-inline-end: 25px;
            }
        }
    }
}
