@mixin numberHover {
    width: 24px;
    height: 24px;
    margin-bottom: -35px;
    font-size: 1rem;
}

@mixin itemHover {
    img {
        height: 82px;
    }

    .title-wrapper {
        margin-bottom: auto;
        margin-block: 0 1rem !important;
        padding-inline: 0.4rem;
    }

    .title {
        color: $white;
    }

    .content {
        top: -15px;
    }

    ul {
        display: block;
    }
}

.main-title {
    font-size: 3rem;

    @media (max-width: 991px) {
        font-size: 1.5rem;
    }
}

.grid-5 {
    gap: 66px 1rem;
}

.home-item {
    position: relative;
    height: 230px;
    background-color: $white;
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;

    @media (max-width: 1199px) {
        height: 134px;
    }

    .title-wrapper {
        position: relative;
        z-index: 15;
        margin-top: auto;
    }

    .title {
        font-size: 1.5rem;
        font-weight: 700;

        @at-root .home-item:nth-of-type(even) {
            color: $primary;
        }

        @at-root .home-item:nth-of-type(odd) {
            color: $success;
        }
    }

    .arrow-btn {
        background: rgba(#8d8d8d, 0.6);

        color: $white;

        border-radius: 50%;
        font-size: 2rem;

        width: 32px;
        height: 32px;

        @media (min-width: 992px) {
            display: none !important;
        }

        img {
            height: 18px !important;
        }
    }
}

.home-item:hover {
    @media (min-width: 992px) {
        @include itemHover;
    }
}

.home-item.expanded {
    height: 270px;

    @include itemHover;
}

.content {
    position: absolute;
    top: -35px;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;

    width: 100%;
    transition: all 0.3s ease-in-out;

    .number {
        position: relative;
        z-index: 10;
        border-radius: 50%;

        width: 40px;
        height: 40px;

        color: $white;

        font-size: 1.5rem;
        font-weight: 700;

        margin-bottom: -55px;
        margin-inline-start: 25px;
        transition: all 0.3s ease-in-out;

        .home-item:nth-of-type(even) & {
            background: linear-gradient(0deg, rgba(60, 128, 176, 0.5) 0.99%, rgba(22, 85, 120, 0.5) 97.35%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        }

        .home-item:nth-of-type(odd) & {
            background: linear-gradient(
                    0deg,
                    rgba(56, 103, 50, 0.3) 6.54%,
                    rgba(70, 120, 54, 0.3) 24.54%,
                    rgba(93, 147, 60, 0.3) 56.54%,
                    rgba(107, 164, 64, 0.3) 84.54%,
                    rgba(112, 170, 66, 0.3) 106.54%
                ),
                linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
        }

        .home-item:hover & {
            @include numberHover;
        }
    }

    img {
        width: 90%;
        height: 220px;

        display: flex;
        margin: auto;

        border-radius: 8px;
        transition: all 0.3s ease-in-out;

        @media (max-width: 991px) {
            height: 108px;
        }
    }

    ul {
        display: none;

        height: 150px;
        overflow: visible auto;

        @media (max-width: 991px) {
            height: 190px;
        }
    }

    li {
        padding-block: 2px;
        margin-inline: 2rem;
        border-bottom: 1px solid #a4ae9c;

        &:hover:not(.active) {
            background: url("../images/icons/logo.svg") no-repeat center left;
            a {
                color: $success;
            }
        }

        &.active {
            margin-inline: 0;
            padding-inline: 1rem;

            border-bottom: none;

            .home-item:nth-of-type(odd) & {
                background-color: #8eb86c;
                outline: 1px solid #8eb86c;
            }

            .home-item:nth-of-type(even) & {
                background-color: #4f80af;
                outline: 1px solid#4F80AF;
            }

            a {
                color: $white;
            }
        }

        a {
            font-size: 1.38rem;
            font-weight: 600;

            color: #6d6e71;
            max-width: 80%;
            display: block;

            @media (max-width: 991px) {
                font-weight: 400;
            }
        }
    }
}
