$bgHeight: 415px;

.loader {
    position: fixed;
    inset: 0;
    z-index: 50;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: $white;
    direction: ltr;
    overflow: hidden;

    .logo-img {
        animation: logoAnimate 0.5s ease-in 3.5s forwards;

        svg:first-of-type {
            position: absolute;
            bottom: 50%;
            right: 49.3%;
            transform: translate(49.3%, 50%) rotate(180deg);
        }

        svg:last-of-type {
            position: absolute;
            bottom: 50%;
            right: 48%;
            transform: translate(48%, 50%);
        }
    }

    @keyframes logoAnimate {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    #logoPart1,
    #logoPart2 {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: logoPart 7s ease forwards;
    }

    @keyframes logoPart {
        to {
            stroke-dashoffset: 0;
            fill: $white;
        }
    }

    .bg {
        position: relative;

        height: 100vh;
        width: 100%;

        background-color: #ac8e55;
        animation: bgAnimate 0.5s ease-in 4s forwards;

        @media (min-width: 1200px) and (max-width: 1450px) {
            $bgHeight: 300px;
        }
    }

    @keyframes bgAnimate {
        from {
            height: 100vh;
        }

        to {
            height: $bgHeight;
        }
    }

    .top-img {
        position: absolute;
        top: 4vh;
        left: 50%;
        transform: translateY(-200px) translateX(-50%);
        animation: topImgAnimate 0.75s ease-in 4.5s forwards;
    }

    @keyframes topImgAnimate {
        from {
            transform: translateY(-200px) translateX(-50%);
            opacity: 0;
        }

        to {
            transform: translateY(0) translateX(-50%);
            opacity: 1;
        }
    }

    .bottom-img {
        position: absolute;
        bottom: -400px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 130px;

        animation: bottomImgAnimate 0.75s ease-in 4.5s forwards;

        .progress-lines {
            width: 60vw;
        }
    }

    @keyframes bottomImgAnimate {
        from {
            bottom: -400px;
            opacity: 0;
        }

        to {
            bottom: 20px;
            opacity: 1;
        }
    }

    .loader-years {
        opacity: 0;
        animation: yearsAnimate 0.75s ease-in 4.5s forwards;
    }

    @keyframes yearsAnimate {
        from {
            transform: scale(0.5);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 1;
        }
    }

    .loader-arrows {
        position: absolute;
        bottom: 50%;
        transform: translateY(50%);
        inset-inline-start: -1500px;

        opacity: 0;
        animation: arrowsAnimate 0.75s ease-in 4.5s forwards;
    }

    @keyframes arrowsAnimate {
        from {
            inset-inline-start: -1500px;
            opacity: 0;
        }

        to {
            inset-inline-start: 45vw;
            opacity: 1;
        }
    }
}

.main-content {
    .home & {
        overflow: hidden;
    }
}

.mobile-header,
.main-header {
    background-color: $white;
    box-shadow: 0 10px 15px rgba(63, 68, 72, 0.05);
    z-index: 30;

    &.sticky {
        position: fixed;
        inset: 0 0 auto;
        z-index: 25;
        box-shadow: 0 2px 8px 0 rgba($black, 0.1);

        transition: all 0.3s ease-in-out;
        animation: headerAnimation 0.3s;
    }

    @keyframes headerAnimation {
        0% {
            top: -100%;
        }

        100% {
            top: 0;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .bi-list {
        transform: scale(2, 1.4);
        display: block;
    }
}

.mobile-header {
    padding-block: 0.7rem;

    @media (min-width: 992px) {
        display: none;
    }

    .details {
        position: fixed;
        inset: 0;
        z-index: 25;
        transform: translateY(0);

        padding: 2.38rem;
        background: $white;
        transition: transform 0.3s ease-in-out;
    }
}

.mobile-header.expanded {
    .details {
        height: 95%;
        box-shadow: 0px 12px 20px 0px rgba($black, 0.1);
    }
}

.mobile-header.collapsed {
    .details {
        // width: 0;
        // visibility: hidden;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
    }
}

.inner-header {
    @extend .mobile-header;
    margin-bottom: 32px;
    box-shadow: 0 2px 7px 0 rgba($black, 0.1);

    @media (min-width: 992px) {
        display: block;
    }
}

.main-header {
    padding-block: 1rem;
    transition: all 0.3s ease-in-out;

    @media (max-width: 991px) {
        display: none;
    }

    nav {
        .logo {
            height: 3.75rem;
            transform-origin: right top;
            transition: all ease-in-out 0.3s;

            &:hover {
                transform: scale(1.15);
            }
        }

        .btn-outline-success {
            &:hover {
                img {
                    @extend .white-img;
                }
            }
        }

        .site-name {
            font-weight: 600;
            opacity: 0.9;
            transform-origin: center top;
            transition: all ease-in-out 0.3s;

            &:hover {
                transform: scale(1.25);
            }

            a {
                color: $green;
            }
        }
    }
}

.bottom-bar {
    background: $white;
    box-shadow: 0 -11px 10px rgba($black, 0.1);
    padding-block: 0.8rem;
    margin-top: auto;

    @media (max-width: 1199px) {
        display: none;
    }

    &.sticky {
        position: fixed;
        inset: auto 0 0;
        width: 100%;
        box-shadow: 0 2px 14px 3px rgba($black, 0.1);
    }

    .mobile-header & {
        display: block;
        box-shadow: none;
    }

    .contact {
        a {
            position: relative;
            font-size: 1.25rem;

            &::after {
                content: "";
                position: absolute;
                inset-inline-end: -0.2rem;
                bottom: 0;

                width: 90%;
                height: 1px;

                background-color: $black;
                margin: auto;
                transform: scale(0);
                transition: all 0.3s;
            }

            .icon {
                margin-inline-end: 0.25rem;
            }
        }

        a:hover {
            color: $black !important;
            filter: brightness(0.5);

            &::after {
                transform: scale(1);
            }
        }
    }

    .social {
        a {
            @extend .flex-center;

            position: relative;
            z-index: 1;
            overflow: hidden;
            border-radius: 50%;

            width: 1rem;
            height: 1rem;

            .icon {
                @extend .flex-center;

                position: relative;
                transition: transform 0.5s ease-in-out;
                z-index: 3;
            }

            &:hover {
                width: 1.5rem;
                height: 1.5rem;
                border: 1px solid $white;

                &::before {
                    top: 0;
                }

                .icon {
                    @extend .white-img;
                    transform: rotateY(360deg);
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 100%;
                inset-inline-end: 0;
                z-index: 2;

                width: 100%;
                height: 100%;

                background: $primary;
                transition: 0.5s;
            }
        }

        a:hover {
            transform: rotateY(360deg);
        }
    }
}
