$white: #fff;
$black: #000;
$primary: #2b5c7f;
$success: #72a647;
$info: #845a23;
$green: #72a647;
$blue-100: #c3d8e7;
$blue-500: #3980b3;
$gray-100: #d2d2d3;
$gray-500: #6d6e71;

$container-max-widths: (
    xl: 1240px
);

$modal-footer-border-width: 0;

$table-cell-vertical-align: middle;
