$white: #fff;
$black: #000;
$primary: #2b5c7f;
$success: #72a647;
$info: #008dbc;
$green: #72a647;

$container-max-widths: (
    xl: 1240px
);

$modal-footer-border-width: 0;

$table-cell-vertical-align: middle;
