$white: #fff;
$black: #000;
$primary: #604d39;
$success: #927137;
$info: #008dbc;
$green: #72a647;

$container-max-widths: (
    xl: 1240px
);

$modal-footer-border-width: 0;

$table-cell-vertical-align: middle;
