@keyframes logoScale {
    0% {
        transform: translate(50%, 50%) scale(0);
    }

    100% {
        transform: translate(50%, 50%) scale(1);
    }
}

@keyframes logoPart1Animate {
    0% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes logoPart2Animate {
    0% {
        transform: translateX(15px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes logoScale2 {
    0% {
        transform: translate(50%, 50%) scale(1);
    }

    100% {
        transform: translate(150%, 50%) scale(5);
    }
}

@keyframes logoScale2Responsive {
    0% {
        transform: translate(50%, 50%) scale(1);
    }

    100% {
        transform: translate(150%, 50%) scale(4.5);
    }
}

@keyframes logoScale2 {
    0% {
        transform: translate(50%, 50%) scale(1);
    }

    100% {
        transform: translate(150%, 50%) scale(5);
    }
}

@keyframes bgAnimate {
    0% {
        height: 0;
    }

    100% {
        height: 415px;
    }
}

@keyframes topImgAnimate {
    from {
        transform: translateY(-200px) translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
}

@keyframes bottomImgAnimate {
    from {
        bottom: -400px;
        opacity: 0;
    }

    to {
        bottom: 20px;
        opacity: 1;
    }
}

@keyframes arrowsAnimate {
    from {
        opacity: 0;
        transform: translateY(50%) scale(0.7);
    }

    to {
        opacity: 1;
        transform: translateY(50%) scale(1);
    }
}

@keyframes arrowsLight {
    from {
        filter: drop-shadow(0px 2px 3px #fff);
    }

    to {
        filter: none;
    }
}

@keyframes loaderHide {
    from {
        opacity: 1;
        z-index: 50;
    }

    to {
        opacity: 0;
        z-index: -1;
    }
}

.loader {
    position: fixed;
    inset: 0;
    z-index: 50;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #fff;
    direction: ltr;
    overflow: hidden;

    &.hide {
        opacity: 1;
        animation: loaderHide 1s ease-in-out forwards;
    }

    .logo-img {
        filter: none;
        transform: translate(50%, 50%) scale(0);
        animation:
            logoScale 0.8s ease-in 1.5s forwards,
            logoScale2 1.5s ease 4s forwards;

        @media (min-width: 1200px) and (max-width: 1450px) {
            animation:
                logoScale 0.8s ease-in 1.5s forwards,
                logoScale2Responsive 1.5s ease 4s forwards;
        }

        img:first-of-type {
            position: absolute;
            transform: translateX(-20px);
            animation: logoPart1Animate 0.8s ease-in 3s forwards;
        }

        img:last-of-type {
            transform: translateX(15px);
            animation: logoPart2Animate 0.8s ease-in 3s forwards;
        }
    }

    .bg {
        height: 0;
        width: 100%;

        position: relative;
        background-color: #ac8e55;
        animation: bgAnimate 1s ease-in 1s forwards;
    }

    .top-img {
        position: absolute;
        top: 4vh;
        left: 50%;
        transform: translateY(-200px) translateX(-50%);
        animation: topImgAnimate 1.5s ease-in 4.5s forwards;
    }

    .bottom-img {
        position: absolute;
        bottom: -400px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 130px;

        animation: bottomImgAnimate 1.5s ease-in 4.5s forwards;

        .progress-lines {
            width: 60vw;
        }
    }

    .loader-years {
        transform: scale(0);

        @media (min-width: 1200px) and (max-width: 1450px) {
            width: 700px;
        }
    }

    .loader-arrows {
        position: absolute;
        bottom: 50%;
        inset-inline-start: 71vw;
        transform: translateY(50%);

        opacity: 0;
        animation:
            arrowsAnimate 1s ease-in 4.5s forwards,
            arrowsLight 1.2s ease-in 4.8s infinite;
    }
}
