@keyframes logoScale {
    0% {
        transform: translate(50%, 50%) scale(0);
    }

    100% {
        transform: translate(50%, 50%) scale(1.5);
    }
}

@keyframes logoMoveTop {
    0% {
        transform: translateY(0) translateX(50%);
    }

    100% {
        transform: translateY(-250px) translateX(50%);
    }
}

@keyframes logoMoveRight {
    0% {
        transform: translateY(-250px) translateX(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-250px) translateX(110px) scale(0.2);
        opacity: 0;
    }
}

@keyframes bgAnimate {
    0% {
        height: 0;
    }

    100% {
        height: 415px;
    }
}

@keyframes topImgAnimate {
    from {
        transform: translateY(-200px) translateX(-50%);
        opacity: 0;
    }

    to {
        transform: translateY(0) translateX(-50%);
        opacity: 1;
    }
}

@keyframes bottomImgAnimate {
    from {
        bottom: -400px;
        opacity: 0;
    }

    to {
        bottom: 20px;
        opacity: 1;
    }
}

@keyframes arrowsAnimate {
    from {
        opacity: 0;
        transform: translateY(50%) scale(0.7);
    }

    to {
        opacity: 1;
        transform: translateY(50%) scale(1);
    }
}

@keyframes arrowsLight {
    from {
        filter: drop-shadow(0px 2px 3px #fff);
    }

    to {
        filter: none;
    }
}

.loader {
    position: fixed;
    inset: 0;
    z-index: 50;

    height: 100vh;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #fff;
    direction: ltr;
    overflow: hidden;

    .logo-img {
        transform: translate(50%, 50%) scale(0);
        animation:
            logoScale 0.5s ease-in 1s forwards,
            logoMoveTop 1s ease-in 4s forwards,
            logoMoveRight 1s ease-in 4.8s forwards;
    }

    .bg {
        position: relative;

        height: 0;
        width: 100%;

        background-color: #ac8e55;
        animation: bgAnimate 1s ease-in 2.5s forwards;
    }

    .top-img {
        position: absolute;
        top: 4vh;
        left: 50%;
        transform: translateY(-200px) translateX(-50%);
        animation: topImgAnimate 1.5s ease-in 4.5s forwards;
    }

    .bottom-img {
        position: absolute;
        bottom: -400px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 130px;

        animation: bottomImgAnimate 1.5s ease-in 4.5s forwards;

        .progress-lines {
            width: 60vw;
        }
    }

    .loader-years {
        transform: scale(0);
    }

    .loader-arrows {
        position: absolute;
        bottom: 50%;
        inset-inline-start: 71vw;
        transform: translateY(50%);

        opacity: 0;
        animation:
            arrowsAnimate 1s ease-in 4.5s forwards,
            arrowsLight 1.2s ease-in 4.8s infinite;
    }
}
